
<main>

  <div style="float: left">


    <div class="container ">
      <div class="row justify-content-md-left">
        <div class="col">
          <div class="card card--raised base-margin-top">
            <div class="card card--raised hover">
              <h6 class="card-header"><strong class="card-text">REGION: EMEA</strong></h6>
              <div class="card-body">
                <!-- <h5 class="card-title">Legend</h5> -->
                <div class="row">
                  <div class="col-md-2">
                    <p><span class="key-dot queens"></span></p>
                  </div>

                  <div class="col-md-10">
                    <p>Cisco Factories</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p><span class="key-dot kings"></span></p>
                  </div>
                  <div class="col-md-10">
                    <p>No Cisco Factories</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card card--raised base-margin-top">
            <div class="card card--raised hover">
              <h6 class="card-header"><strong>Sites by Country</strong></h6>
              <div class="card__body scrollbar" id="style-11">
                <p> <img src="assets/img/flag4.svg"> <span class="coutrynamesstylings">United Kingdom</span> </p>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Nertherlands</strong></div>
                </div>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Denmark</strong></div>
                </div>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Belgium</strong></div>
                </div>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Norway</strong></div>
                </div>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Germany</strong></div>
                </div>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Cz Republic</strong></div>
                </div>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Estonia</strong></div>
                </div>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Russia</strong></div>
                </div>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Hungary</strong></div>
                </div>
                <div> <img src="assets/img/flag4.svg">
                  <div class="coutrynamesstylings"><strong>Poland</strong></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>


  </div>

  <!-- <div class="container">
  <div class="row">
    <div class="col">
      <h4>Sites by Country</h4>
      <div class="subheader">Horizontal</div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="scrollbar" id="style-11">
        <figure class="figure figure--horizontal ">
          <img src="assets/img/favicon.png">
          <figcaption>Russia</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div> -->






  <span #chart (click)="clicked($event)"></span>

  <!-- <div class="legend1">
    <h3>HTML Vertical Legend</h3>
    <div class="legend2">
      <div class="country-name"><span class="key-dot queens"></span>Queens</div>
      <div class="country-name"><span class="key-dot kings"></span>Kings</div>
    </div>
  </div> -->

  <div>
    <!-- <h2 id="countryheading"></h2> -->
  </div>


  <div id="map" class="hidden"></div>

</main>