<main>


  <div style="float: left">


    <div class="container ">
      <div class="row justify-content-md-left">
        <div class="col">
          <div class="card card--raised base-margin-top">
            <div class="card card--raised hover">
              <h6 class="card-header"><strong class="card-text">REGION: ASIA</strong></h6>
              <div class="card-body">
                <!-- <h5 class="card-title">Legend</h5> -->
                <div class="row">
                  <div class="col-md-2">
                    <p><span class="key-dot queens"></span></p>
                  </div>

                  <div class="col-md-10">
                    <p>Cisco Factories</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <p><span class="key-dot kings"></span></p>
                  </div>
                  <div class="col-md-10">
                    <p>No Cisco Factories</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card card--raised base-margin-top">
            <div class="class card card--raised hover">
              <h6 class="card-header"><strong>Sites by Country</strong></h6>
              <div class="card__body scrollbar" id="style-11">
                <p> <img src="assets/img/flag4.svg"> <span class="coutrynamesstylings">Singapore</span> </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>Indonesia</strong></span>
                </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>Malaysia</strong></span>
                </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>Thailand</strong></span>
                </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>Hong Kong</strong></span>
                </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>Taiwan</strong></span>
                </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>Philippines</strong></span>
                </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>Japan</strong></span>
                </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>China</strong></span>
                </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>South Korean</strong></span>
                </p>
                <p> <img src="assets/img/flag4.svg">
                  <span class="coutrynamesstylings"><strong>India</strong></span>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>


  </div>

  <span>
    <!-- <h2 id="countryheading"></h2> -->
  </span>
  <span #chart (click)="clicked($event)"></span>
  <div id="map" class="hidden"></div>
</main>